@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?yaud63');
    src:  url('../fonts/icomoon.eot?yaud63#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?yaud63') format('truetype'),
      url('../fonts/icomoon.woff?yaud63') format('woff'),
      url('../fonts/icomoon.svg?yaud63#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-plus:before {
    content: "\ea0a";
  }
  .icon-loop2:before {
    content: "\ea2e";
  }
  .icon-arrow-down2:before {
    content: "\ea3e";
  }
  

body {
    background: linear-gradient(to top right, #009E00, #FFFF96);
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './components/board';
@import './components/player-panel';
@import './components/controls';
@import './components/reset';